<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Faculty Directory Prototype</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <h1 class="page-title">College Faculty Directory</h1>
    
    <div class="add-faculty-link-container">
        <a href="enter.html" class="add-faculty-button">➕ Add New Faculty Details</a>
    </div>
    
    <div class="directory-container">
        
        <div id="dynamic-faculty-list">
    </div>
    
    <script src="../static/js/scripts.js"></script>
</body>

</html>